<div>
  <h2 class="text-gray-400 font-semibold text-sm mb-2">Tipo de transacción</h2>
  <div
    class="grid grid-cols-2 gap-2 ml-4 border-2 border-emerald-700 rounded-lg text-emerald-500 font-semibold tracking-wider"
  >
    <button
      class="p-2 transition-all"
      [ngStyle]="getActiveStyles(isExpensive())"
      (click)="onChange(true)"
    >
      GASTO
    </button>
    <button
      class="p-2 transition-all"
      [ngStyle]="getActiveStyles(!isExpensive())"
      (click)="onChange(false)"
    >
      INGRESO
    </button>
  </div>
</div>
