<nav
  class="bg-emerald-700 sticky top-0 h-24 rounded-br-2xl rounded-bl-2xl items-end flex p-4 justify-around z-10"
>
  <div
    routerLinkActive="font-bold border-b-2 border-white"
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    class="text-white tracking-wider transition-all"
  >
    TODO
  </div>
  <div
    routerLinkActive="font-bold border-b-2 border-white"
    routerLink="gastos"
    class="text-white tracking-wider transition-all"
  >
    GASTOS
  </div>
  <div
    routerLinkActive="font-bold border-b-2 border-white"
    routerLink="ingresos"
    class="text-white tracking-wider transition-all"
  >
    INGRESOS
  </div>
</nav>
