<div class="flex gap-2 flex-wrap">
  <app-filter-button
    *ngIf="typeFilter"
    [name]="byType.name"
    [types]="byType.types"
    [typeSelected]="byType.types[0]"
    (change)="onFilterByTypeChange($event)"
  ></app-filter-button>
  <app-filter-date-button
    *ngIf="dateFilter"
    (changeDate)="onFilterByDateChange($event)"
  >
  </app-filter-date-button>
  <app-filter-mount-button
    *ngIf="mountFilter"
    (changeMount)="onFilterByMountChange($event)"
  ></app-filter-mount-button>
</div>
